img {
    width: 25%;
    height: 25%;
}

body{
    background-color: lightgray
}

.title {
    color: white;
    font-family: Cabin, 'Courier New', Courier, monospace
}

.cardContainer {
    border: 1px solid orangered;
}

.articleCard {
    float: left;
    width: 48%;
    height: auto;
}

#linkHolder {
    width: 100%;
    height: 100%;
}

#buttonHolder {
    width: 100%;
    height: 100%;
}

.buttontext {
    color: white;
    font-family: Cabin, 'Courier New', Courier, monospace;
    font-size: 1.2em;
}