img {
    width: 25%;
    height: 25%;
}

body{
    background-color: lightgray 
}

.title {
    color: white;
    font-family: Cabin, 'Courier New', Courier, monospace
}

.buttontext {
    color: white;
    font-family: Cabin, 'Courier New', Courier, monospace;
    font-size: 1.2em;
}